/* ////////////////////////////////GENERAL STYLE //////////////////////////////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  /*background-color: lightgrey;*/
  display: grid;
  grid-template-columns: 37% 37% 26%;
  grid-template-rows: 15% 20% 20% 20% 25%;

}

li{
  list-style: none;
  display: inline-grid;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/*///////////////// HEADER MENU ////////////////////////*/
header {
  grid-column: 1 / 4;
  border-top: 2px solid brown;
  height: 97px;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 40%;
}
header ul li {
  margin-top: 6%;
  padding: 0.5%;
}
header .right {
  margin-left: 55%;
  padding: 1%;
}
header .right li {
  padding: 5%;
  font-size: 20px;
}

/*BOXES POSITIONS*/
.box-left {
  grid-row: 2 / 5;
}

.box-middle {
  grid-row: 2 / 7;
  background-image: url("oranges.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-middle ul{
  background-color: rgba(46, 49, 49, 0.5);
  margin-top: 11%;
  padding: 10px;
  text-align: left;
  height: 80%;
}
.box-middle ul li{
  display: block;
  line-height: 2em;
  margin-top: 5%;
  margin-left: 5%;
  color: rgba(255, 255, 255, 0.9);
}
.box-middle ul li h1{
  display: block;
  line-height: 1em;
  font-size: 80px;
}
.box-middle button {
  background-color: Transparent;
  border: 3px solid rgba(255, 255, 255, 0.9) ;
  padding: 10px;
  width: 90px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-weight: bold;
}

.box-right {
  grid-row: 2 / 4;
  background-image: url("donuts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-under-right {
  display: grid;
  grid-row: 4 / 7;
}

.box-under-left {
  /*background-color: brown;*/
  display: grid;
  grid-template-rows: 1fr 0.3fr;
}

#box-photos img {
  width: 20%;
  margin-top: -9%;
  margin-left: 6%;
}

#midia-icons {

  margin-left: 75%;
  font-size: 20px;
}
#midia-icons i {
padding: 3%;
}
/*SWEET MENU SECTION*/
.wrapper-donuts-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
}
.sweet-menu {
  text-align: center;
  padding: 2%;
}

.box {
  display: grid;
  grid-template-columns: 0.150fr 0.85fr;
  margin-top: -15px;
}
#right {
  display: grid;
  grid-template-rows: 0.2fr 0.1fr 1fr;
}

#heart{
  margin-left:160px;
}

#stars{
  color: #ffb366;
}

/*LEFT CLUMN WITH ICONS*/
.icon {
  margin-top: 34%;
  margin-left: 9%;
  padding: 10%;
  width: 80%;
  background-repeat: no-repeat;
}
